* {
    font-family: 'LiberationMono';
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(36, 36, 36, 1);
    color: #c4c4c4;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}
/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding: 2px 4px 2px 4px;
    margin: 4px 2px 4px 2px;
    background-color: rgba(48, 48, 48, 0.7); /* чуть светлее фона */
    color: #c1c1c1;
    /* Use box-shadow instead of border so the text isn't offset */
    /*box-shadow: inset 0 -3px transparent;*/
    /* Avoid rounded borders under each workspace name */
    border: 1px solid #333;
    border-radius: 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.1);
    /*box-shadow: inset 0 -4px #77767B;*/
}

#workspaces button.focused {
    background: rgba(120, 120, 120, 0.8);
    border: 1px solid #555;
    /*background-color: #5E5C64;*/
    /*box-shadow: inset 0 -4px #C0BFBC;*/
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background: rgba(120, 120, 120, 0.8);
    color: #c1c1c1;
}

#window {
    margin: 2px 4px 2px 4px;
}

#idle_inhibitor,
#clock,
#memory,
#disk,
#language,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray {
    margin: 4px 4px 4px 0;         /* между модулями: 4px справа, 2px сверху/снизу */
    padding: 3px 6px 3px 6px;               /* одинаковый внутренний отступ */
    border: 1px solid #333;         /* серая граница */
    border-radius: 0px;             /* мягкие закругления */
    background-color: rgba(48, 48, 48, 0.7); /* чуть светлее фона */
}

#mode {
    margin: 4px 4px 4px 4px;         /* между модулями: 4px справа, 2px сверху/снизу */
    padding: 1px 8px 1px;               /* одинаковый внутренний отступ */
}

#battery.bat1 {
    margin: 4px 0px 4px 0px;
    border-top: 1px solid #333; /* 1px solid white border */
    border-bottom: 1px solid #333; /* 1px solid white border */
    border-left: 1px solid #333; /* 1px solid white border */
    border-top-left-radius: 0px; /* Optional: adds rounded corners */
    border-bottom-left-radius: 0px; /* Optional: adds rounded corners */
    padding: 3px 4px 3px 6px; /* Optional: adds padding inside the border */
    background-color: rgba(48, 48, 48, 0.7); /* чуть светлее фона */
}
#battery.bat2 {
    margin: 4px 4px 4px 0px;
    border-top: 1px solid #333; /* 1px solid white border */
    border-bottom: 1px solid #333; /* 1px solid white border */
    border-right: 1px solid #333; /* 1px solid white border */
    border-top-right-radius: 0px; /* Optional: adds rounded corners */
    border-bottom-right-radius: 0px; /* Optional: adds rounded corners */
    padding: 3px 6px 3px 4px; /*  Optional: adds padding inside the border */
    background-color: rgba(48, 48, 48, 0.7); /* чуть светлее фона */
}

#cpu {
    margin: 4px 0px 4px 0px;
    border-top: 1px solid #333; /* 1px solid white border */
    border-bottom: 1px solid #333; /* 1px solid white border */
    border-left: 1px solid #333; /* 1px solid white border */
    border-top-left-radius: 0px; /* Optional: adds rounded corners */
    border-bottom-left-radius: 0px; /* Optional: adds rounded corners */
    padding: 3px 2px 3px 6px; /* Optional: adds padding inside the border */
    background-color: rgba(48, 48, 48, 0.7); /* чуть светлее фона */
}
#temperature {
    margin: 4px 4px 4px 0px;
    border-top: 1px solid #333; /* 1px solid white border */
    border-bottom: 1px solid #333; /* 1px solid white border */
    border-right: 1px solid #333; /* 1px solid white border */
    border-top-right-radius: 0px; /* Optional: adds rounded corners */
    border-bottom-right-radius: 0px; /* Optional: adds rounded corners */
    padding: 3px 6px 3px 2px; /*  Optional: adds padding inside the border */
    background-color: rgba(48, 48, 48, 0.7); /* чуть светлее фона */
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    /*background-color: #64727D;*/
}

#battery {
    /*background-color: #ffffff;*/
}

#battery.bat1.charging, #battery.bat1.plugged {
    /*color: #ffffff;*/
}

@keyframes blink {
    to {
        color: transparent;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    /*background-color: #2ecc71;
    color: #000000;*/
}

#memory {
    /*background-color: #9b59b6;*/
}

#disk {
    /*background-color: #964B00;*/
}

#backlight {
    /*background-color: #90b1b1;*/
}

#network {
    /*background-color: #2980b9;*/
}

#network.disconnected {
    /*background-color: #f53c3c;*/

}

#pulseaudio {
    /*background-color: #f1c40f;
    color: #000000;*/
}

#pulseaudio.muted {
    /*background-color: #90b1b1;
    color: #2a5c45;*/
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    /*background-color: #f0932b;*/
}

#temperature.critical {
    /*background-color: #eb4d4b;*/
}

#tray {
    /*background-color: #2980b9;*/
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    /*background-color: #eb4d4b;*/
}

#idle_inhibitor {
    /*background-color: #2d3436;*/
}

#idle_inhibitor.activated {
    /*background-color: #ecf0f1;*/
    /*color: #2d3436;*/
}

#language {
    /*background: #00b093;
    color: #740864;*/
    /*padding: 0 5px;
    margin: 0 5px;*/
    min-width: 16px;
}

#keyboard-state {
/*    background: #97e1ad;
    color: #000000;*/
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
